certifi>=2024.8.30
groq>=0.11.0
grpcio>=1.64.0
grpcio-tools>=1.64.0
ibm-cloud-sdk-core>=3.21.0
ibm-watson>=8.1.0
protobuf>=4.25.0
python-dotenv>=1.0.1
requests>=2.32.0
setuptools>=70.0.0
typing_extensions>=4.12.0
